#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""
:Mod:
    config

:Synopsis:
    Configuration class for private content

:Author:
    servilla

:Created:
    5/18/25
"""
import daiquiri


logger = daiquiri.getLogger(__name__)


class Config:

    SCHEME = "https"
    AUTH_HOST = "AUTH_HOST"
    ACCEPT = "json"
    PUBLIC_KEY_PATH = "PUBLIC_KEY_PATH"
    PRIVATE_KEY_PATH = "PRIVATE_KEY_PATH"
    JWT_ALGORITHM = "ES256"
    AUTH_KEY = "AUTH_KEY"
    API_KEY = "API_KEY"

    PUBLIC_ID = "EDI-078e6e3cee4f7f2812f150701da9351acb51e089"
    AUTH_SERVICE_ID = "EDI-6d92693416fde9af9c43fd7cd92d1028eadafa46"
